body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: whitesmoke;
}
section{
    display: flex;
    padding: 7%;
  
    
}
.navigation{
    padding: 14px;
    background-color: lightskyblue;
}
li {
   float: left;
   list-style: none;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  input{
      float: right;
      margin-left: 650px;
  }
  li a:hover {
    background-color: gold;
  }
h1{
    color: rgba(61, 137, 209, 0.623);
    font-weight: 900;
}
.order-food{
    text-decoration: none;
    padding: 10px 35px;
    background-color:hsl(22, 92%, 62%) ;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(206, 47, 47, 0.2), 0 6px 20px 0 rgba(240, 114, 114, 0.19);
    
}
.top-half{
    width: 50%;
}
.top-half img{
    width: 95%;
    padding-left:0%;
}
.about-me{
    background-image: url(shapes/7.png);
    
}
.about-me .top-half{
    padding-left: 12%;
}
.my-recipies{
    text-align: center;
}
.title{
    margin-top: -80px;
    padding: 3%;
    background-color:white; 
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title img{
    width: 100%;
}
.subs{
     margin:9%;
     margin-top: -40px;
}
.k{
    width: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -20px;
}
.list{
    margin: auto;
}
.footer{
    padding: 20px;
    background-color: black;
    text-align:center;
    color: whitesmoke;
}
.text{
    width: 100%;
}
.contact{
    display: flex;
    align-items: center;
}
.contact img{
    width: 6%;
    border-image: 2px;
    border-radius: 5px;
    margin-left: 50px;
}