body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: whitesmoke;
}
section{
    display: flex;
    padding: 7%;
    
}
h1{
    color: rgba(61, 137, 209, 0.623);
    font-weight: 900;
}
.order-food{
    text-decoration: none;
    padding: 10px 35px;
    background-color:hsl(22, 92%, 62%) ;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(206, 47, 47, 0.2), 0 6px 20px 0 rgba(240, 114, 114, 0.19);
    
}
.top-half{
    width: 50%;
}
.top-half img{
    width: 95%;
    padding-left:0%;
}
.about-me{
    background-image: url(shapes/7.png);
}
.about-me .top-half{
    padding-left: 12%;
    
}
.my-recipies{
    text-align: center;
}

.title{
    padding: 3%;
    background-color:white; 
    margin-left: 30px;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title img{
    width: 100%;
}
.subs{
     margin: 5% 9%;
    background-color: white;
}

.k{
    display: flex;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list{
    margin:auto;
}